<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
    <h4 class="bar-date">{{selectedBar.date | date:'dd/MM/yyyy'}}</h4>
  </div>

  <div class="modal-body" cg-busy="{tracker:'saveChanges'}">
    <form role="form">
      <div class="form-group" ng-class="{error: selectedBarForm.name.$invalid}">
        <label for="bar-name">Name:</label>
        <input class="form-control" ng-model="selectedBar.name" id="bar-name"></input>
      </div>

      <div class="form-group" ng-class="{error: selectedBarForm.address.$invalid}">
        <label for="bar-address">address:</label>
        <input class="form-control" ng-model="selectedBar.address" id="bar-address"></input>
      </div>

      <div class="form-group" ng-class="{error: selectedBarForm.location.$invalid}">
        <label for="bar-location">Location:</label>
        <div class="row">
          <div class="input-group col-sm-6">
            <span class="input-group-addon">Lat:</span>
            <input class="form-control" ng-model="selectedBar.location.lat" id="bar-location-lat"></input>
          </div>

          <div class="input-group col-sm-6">
            <span class="input-group-addon">Lng:</span>
            <input class="form-control" ng-model="selectedBar.location.lng" id="bar-location-lng"></input>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{error: selectedBarForm.openingHours.$invalid}">
        <label for="bar-opening-hours">Opening Hours:</label>
        <div class="row">
          <div class="input-group col-sm-6">
            <span class="input-group-addon">From:</span>
            <input type="time" class="form-control" ng-model="selectedBar.openingHours.from" id="bar-opening-hours-from"></input>
          </div>

          <div class="input-group col-sm-6">
            <span class="input-group-addon">Until:</span>
            <input type="time" class="form-control" ng-model="selectedBar.openingHours.until" id="bar-opening-hours-until"></input>
          </div>
        </div>
      </div>

      <div class="form-group" ng-class="{error: selectedBarForm.age.$invalid}">
        <label for="bar-age">Age:</label>
        <input class="form-control" type="number" min="0" max="100" ng-model="selectedBar.age" id="bar-age"></input>
      </div>

      <div class="form-group" ng-class="{error: selectedBarForm.phoneNumber.$invalid}">
        <label for="bar-phone-number">Phone Number:</label>
        <input class="form-control" ng-model="selectedBar.phoneNumber" id="bar-phone-number"></input>
      </div>

      <div class="form-group" ng-class="{error: selectedBarForm.facebook.$invalid}">
        <label for="bar-facebook">facebook:</label>
        <input class="form-control" ng-model="selectedBar.facebook" id="bar-facebook"></input>
      </div>

       <div class="form-group" ng-class="{error: selectedBarForm.website.$invalid}">
        <label for="bar-website">website:</label>
        <input class="form-control" ng-model="selectedBar.website" id="bar-website"></input>
      </div>

      <div class="form-group" ng-class="{error: selectedBarForm.email.$invalid}">
        <label for="bar-email">Email:</label>
        <input class="form-control" ng-model="selectedBar.email" id="bar-email"></input>
      </div>

      <div class="form-group">
        <label for="bar-description">Description:</label>
        <textarea class="form-control" ng-model="selectedBar.description" id="bar-description" cols="30" rows="3">{{selectedBar.description}}</textarea>
      </div>

    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="submit()">Save</button>
    <a ng-click="close()">Close</a>
  </div>

</div><!-- /.modal-content -->
